 /* トップページのcss */
/* // ここにheader.sass fotter.sassなどを挿入する */

button{
  cursor: pointer;
}
.category-tag-search{
  display: none;

}
@media screen and (min-width: 960px) {
  .category-tag-search{
    display: block;
  }
  .category-search{
    display: none;
  }
  .tag-search{
    display: none;
  }
  .aa{
    display: flex;
  }

  .category-search__menu{
    width: 100%;
  }
}





  .category-search__button{
    background-color: #c9c9c9;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 0 auto;

  }
  
  .category-search__list{
    margin: 10px 20px;
  }
  
  .category-search__title-box{
    background-color: $color-green;
    padding:5px 0;
    
    
  }
  .category-search__title{
    color: $color-white;
    
  }
  .category-search__text{
    font-size: 12px;
    padding: 5px 10px;


  }



  
  



  .tag-search__menu{
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;
    overflow: hidden;


  }
  .tag-search__list{
    margin: 30px 20px;
    list-style: none;
    display: block;
  }
  
  .tag-search__list a{
    @include btn-tag;
  
  }


.search-box{

  background-color: $color-green;
  margin: 0 20px;
  text-align: center;

  .search-box__button{
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: $color-green;
    color: $color-white;
    padding: 10px 30px;
  }
}

.application-area{
  margin: 30px 0;
  background-color: $color-lightBlue;
  text-align: center;
  
  .application-area__text{
    line-height: 30px;
    
  }
  .application-area__button{
    display: block;
    width: 80%;
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    margin: 0 auto;

    color: $color-white;
    background-color: $color-orange;
    
    
  }
  .application-area__description{
    
    line-height: 30px;
  }
}








.pick-up{
  // 消す
  // height: 400px;
  background-color: $color-lightGreen;

  .pick-up__title__box{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;

    .pick-up__title__img{
      width: 30px;
      margin-right: 10px;
    }
  }
  
  .pick-up-list{
    background-color: $color-white;
    padding: 30px;
    margin: 0 10px;
  }
  .pick-up-list__1{
    display: flex;
  }

  .pick-up-list__img{

    width: 220px;
    height: 140px;
    margin: 0 auto;
  }

  .pick-up-list__button button{
    background-color: $color-lightGreen;
    color: $color-white;
    padding: 20px;
    border: none;

    width: 200px;

  }

}


.search-results{

  .search-results__title-box{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    
    .fa-search{
      background-color: orange;
      border-radius: 50px;
      padding: 7px;
      color: $color-white;
      margin-right: 10px;
    }
  }
  
  .search-results__agent{
    text-align: center;
  }
}



.article{
  
  .article__title-box{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;

    .fa-book{
      background-color: orange;
      border-radius: 50px;
      padding: 7px;
      color: $color-white;
      margin-right: 10px;
    }
  }


  .article__item{
    background-color: $color-lightBlue;

    margin: 10px 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  
  .cardtype__article{

    width: 90%;
    margin: 0 auto;
    background-color: $color-white;
    
    .cardtype__article:nth-child(odd){
      margin-right: 4%;
    }
    
    
    .popular-posts .cardtype__link {
      padding-bottom: 10px;
    }
    .popular-posts .cardtype__article p {
      margin: 0;
    }
    .cardtype__img {
      margin: 0;
      overflow: hidden;
      position: relative;
      height: auto;
      padding: 10px 10px;
      // padding-bottom: 77.7%;
      
    }
    .cardtype__img img {
      // padding: .45em .45em 0 .45em;
      border-radius: 2px 2px 0 0;
      width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
      border: 0;
      vertical-align: middle;
    }
    .cardtype__article-info {
      padding-top: 0.5em;
      padding: 20px 10px;
      color: #6d6868;
      line-height: 20px;
      
    }
    
    .popular-posts.cardtype h3 {
      margin: 0 .45em;
      font-size: 15px;
      color: inherit;
      background: none;
      border: none;
    }
  }
    
    
    
    
  }