/* おすすめエージェント__画像,星 */
.card-pc__container{
  display: flex;
  justify-content: center;
  padding: 1vmax;
  align-items: center;
}

/* エージェント画像 */
.card-pc__left{
  width: 64vmin;
  height: 36vmin;
  padding: 1vmax;
  /* ↓とりあえず大きさ見るために付けてるだけ↓ */
  border: 1px solid;
}

/* エージェント名,星,説明,ボタン */
.card-pc__right{
  padding: 1vmax;
  align-content: center;
}

/* エージェント名,ハッシュタグ */
.card-pc__agent-top{
  display: flex;
  align-items: center;
  padding: 1vmax;
}

/* エージェント名 */
.card-pc__agant-name{
  font-size: 4vmin;
  color: #000000;
  font-weight: 600;
  text-decoration: underline;
}

/* #星n以上 */
.card-pc__hashtag{
  font-size: 3vmin;
  margin-left: 1vmax;
}


.card-pc__stars{
  font-size: 4vmin;
  padding: 1vmax;
}

/* 星5つ評価 */
.card-pc__stars-rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.card-pc__stars-rating:before,.card-pc__stars-rating:after{
  content: '★★★★★';
}

.card-pc__stars-rating:after{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

/* data-rateに数値が入った時の動き */
.card-pc__stars-rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.card-pc__stars-rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.card-pc__stars-rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.card-pc__stars-rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.card-pc__stars-rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.card-pc__stars-rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.card-pc__stars-rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.card-pc__stars-rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.card-pc__stars-rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.card-pc__stars-rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.card-pc__stars-rating[data-rate="0"]:after{ width: 0%; } /* 星0 */


/* エージェント詳細説明 */
.card-pc__agent-explanation{
  font-size: 2.5vmin;
  padding: 1vmax;
  line-height: 150%;
}

/* ボタン類 */
.card-pc__buttons{
  text-align: center;
  padding: 1vmax;
  /* pc↓ */
  display: flex;
  justify-content: space-around;
}

button{
  border: none;
}

/* 詳細記事btn */
.card__button-article{
  width: 30vmin;
  display: inline-block;
  height: calc( 2vh * 5 );
  background-color: #80cbc5;
  font-size: 3vmin;
  color: #ffff;
  margin-right: 2vmin;
  cursor: pointer;
  line-height: initial;
}

/* お申し込みリストに追加するbtn */
.card__button-submit{
  width: 30vmin;
  height: calc( 2vh * 5 );
  display: grid;
  align-items: center;
  background-color: #47a69b;
  font-size: 2vmin;
  color: #ffff;
  margin-left: 2vmin;
  cursor: pointer;
}

/* お申し込みリストから外すbtn */
.card__button-unsubmit{
  width: 30vmin;
  height: calc( 2vh * 5 );
  display: grid;
  align-items: center;
  background-color: #c4c4c4;
  font-size: 2vmin;
  color: #ffff;
  margin-left: 2vmin;
  cursor: pointer;
}

/* 外部サイトから申し込むbtn　※noneにしてあります */
#exterminalsitebtn{
  display: none;
}

input[type="checkbox"] {
  display: none;
}
