.infosetting, .fa-address-book{
  color: #28A69A;
}
.companyinfo{
  display: flex;
  justify-content: space-between;
  padding: 2vw 1vw;
}
.info{
  display: flex;
}
.companycard{
  margin: 1vw;
}
.companyname__text{
  font-size: 1.5vw;
  font-weight: 600;
  text-decoration: underline 2px;
  margin: 1vw;
}
.companyinfo__left{
  width: 40%;
  margin: 0.5vw;
}
.companyimg{
  width: 100%;
}
.companyinfo__right{
  margin: 0.5vw;
  width: 50%;
}
.info__title{
  font-size: 1vw;
  font-weight: 600;
  white-space: nowrap;
  width: 35%;
  margin-top: 0.5vw;
}
.overview, .max-data-limit, .limitdate, .buttontype, .companylink, .articlelink, .hashtag, .notes{
  font-size: 1vw;
  font-weight: 300;
  margin: 0.5vw;
  padding-left: 3vw;
  word-break: break-all;
  width: 60%;
}