

// 共通部分用のcss

// 色
$color-green:#28A69A;
$color-orange:#FFAB3F;
$color-white:#ffffff;
$color-lightGreen:#89CEC8;




@mixin search {
  color: $color-white;
  background-color: $color-lightGreen;
  padding: 15px 10px;


}

@mixin btn-tag {
  color: $color-white;
  background-color: $color-green;
  padding: 5px ;
  
}

.search-area{
  @include search
}