// 申し込みのcss

.entry-page{

  border: 1px  solid gray;
  // margin: 30px;
  margin-top: 10px;
  // width: 90%;
  height: 100vh;
  padding: 10px 3px;

  .entry-page__text{
    margin: 20px 0;
  }
<<<<<<< HEAD

  .entry-page__form{
    
  }
=======
>>>>>>> 1dc164f231fe8713fd5255db81bbb8f6d9e547eb
}