
.applicationconfirmlist__box {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.applicationconfirmlist__title {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

.applicationconfirmlist[open] {
  padding: .5em;
}

.applicationconfirmlist[open] .applicationconfirmlist__title {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}
