/* ボタン類 */
.applicationForm-buttons{
  text-align: center;
  margin: 3vmax;
}

/* 次へbtn */
.applicationForm-submitbutton{
  width: 42vmin;
  height: 8vmin;
  display: inline-block;
  background-color: #47a69b;
  font-size: 6vmin;
  font-weight: 600;
  color: #ffff;
  padding: 4vmin;
  margin: 1vmin;
  cursor: pointer;
  line-height: initial;
}

/* キャンセルbtn */
.applicationForm-cancelbutton{
  width: auto;
  display: inline-block;
  background-color: #c4c4c4;
  font-size: 1.5vmin;
  color: #ffff;
  padding: 3vmin;
  margin: 1vmin;
  cursor: pointer;
}