@charset "UTF-8";
/* トップページのcss */
/* // ここにheader.sass fotter.sassなどを挿入する */
.header {
  background-color: #28A69A;
  color: #ffffff;
  text-align: center; }
  .header .header-nav {
    height: 130px; }
    .header .header-nav__img {
      height: 62px;
      padding: 10px 0 10px 0;
      cursor: pointer; }
    .header .header-nav .header-nav__menu__list {
      list-style: none;
      display: inline-block;
      padding: 10px 15px 15px; }
    .header .header-nav .header-nav__menu__list a {
      color: #ffffff;
      height: auto;
      font-size: 15px;
      padding: 10px 8px 15px;
      line-height: 1.5; }
  .header .header-info {
    background: #89CEC8;
    height: 52px; }
    .header .header-info__text {
      display: block;
      padding: 10px;
      font-weight: bold;
      height: 30px;
      line-height: 30px; }
