@charset "UTF-8";
.header {
  background-color: #28A69A;
  color: #ffffff;
  text-align: center; }
  .header .header-nav {
    height: 130px; }
  .header .header-nav__img {
    height: 62px;
    padding: 10px 0 10px 0; }
  .header .header-nav__menu__list {
    list-style: none;
    display: inline-block; }
  .header .header-nav__menu__list a {
    color: #ffffff;
    height: auto;
    padding: 10px 15px 15px;
    font-size: 15px;
    line-height: 1.5; }
  .header .header-info {
    background: #89CEC8;
    height: 52px; }

body {
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif; }
