@charset "UTF-8";
/* トップページのcss */
/* // ここにheader.sass fotter.sassなどを挿入する */
.search-area {
  color: #ffffff;
  background-color: #89CEC8;
  padding: 15px 10px; }

.search-area {
  color: #ffffff;
  background-color: #89CEC8;
  padding: 15px 10px; }

.header {
  background-color: #28A69A;
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center; }
  .header .header-nav {
    height: 130px; }
    .header .header-nav__img {
      height: 62px;
      padding: 10px 0 10px 0;
      cursor: pointer; }
    .header .header-nav .header-nav__menu__list {
      list-style: none;
      display: inline-block;
      padding: 10px 15px 15px; }
    .header .header-nav .header-nav__menu__list a {
      color: #ffffff;
      height: auto;
      font-size: 15px;
      padding: 10px 8px 15px;
      line-height: 1.5; }
  .header .header-info {
    background: #89CEC8;
    height: 52px; }
    .header .header-info__text {
      display: block;
      padding: 10px;
      font-weight: bold;
      height: 30px;
      line-height: 30px; }

.keyword-search .keyword-search-form__input {
  width: 70%;
  height: 40px; }

.keyword-search .keyword-search-form__button {
  background-color: #757678;
  color: #ffffff;
  border: none;
  padding: 8px 30px;
  border-radius: 5px; }

.tag-search__menu__list {
  color: #ffffff;
  background-color: #28A69A;
  padding: 5px; }
