/* おすすめエージェント__画像,星 */
.applicationForm-compare__contents-summary{
  display: flex;
  justify-content: center;
  padding: 1vmax;
  align-items: center;
}

/* エージェント画像 */
.applicationForm-compare__contents-summary--left{
  width: 32vmin;
  height: 18vmin;
  padding: 1vmax;
  /* ↓とりあえず大きさ見るために付けてるだけ↓ */
  border: 1px solid;
}

/* エージェント名,星 */
.applicationForm-compare__contents-summary--right{
  margin: 1vmax;
  padding: 1vmax;
}


/* エージェント名 */
.applicationForm-compare__agant-name{
  font-size: 4.8vmin;
  color: #000000;
  font-weight: 600;
  text-decoration: underline;
}

/* #星n以上 */
.applicationForm-compare__hashtag{
  font-size: 4vmin;
  margin: 1vmax 0;
}


.applicationForm-compare__stars{
  font-size: 3vmin;
}

/* 星5つ評価 */
.applicationForm-compare__stars-rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.applicationForm-compare__stars-rating:before,.applicationForm-compare__stars-rating:after{
  content: '★★★★★';
}

.applicationForm-compare__stars-rating:after{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

/* data-rateに数値が入った時の動き */
.applicationForm-compare__stars-rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.applicationForm-compare__stars-rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.applicationForm-compare__stars-rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.applicationForm-compare__stars-rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.applicationForm-compare__stars-rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.applicationForm-compare__stars-rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.applicationForm-compare__stars-rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.applicationForm-compare__stars-rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.applicationForm-compare__stars-rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.applicationForm-compare__stars-rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.applicationForm-compare__stars-rating[data-rate="0"]:after{ width: 0%; } /* 星0 */


/* エージェント詳細説明 */
.applicationForm-compare__contents-explanation{
  font-size: 3vmin;
  text-align: center;
  padding: 1vmax;
  line-height: 150%;
}

/* ボタン類 */
.applicationForm-compare-buttons{
  text-align: center;
  padding: 1vmax;
}

/* 詳細記事btn */
.applicationForm-compare-button__article{
  width: 27vmin;
  height: 5vmin;
  display: inline-block;
  background-color: #80cbc5;
  font-size: 3vmin;
  color: #ffff;
  padding: 3vmin 4vmin;
  margin: 1vmin;
  cursor: pointer;
  line-height: initial;
}

/* お申し込みリストに追加するbtn */
.applicationForm-compare-button__submit{
  width: 27vmin;
  display: inline-block;
  background-color: #47a69b;
  font-size: 3vmin;
  color: #ffff;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  margin: 1vmin;
  cursor: pointer;
}
